CONFIG_NR_DRAM_BANKS=2
CONFIG_DOS_PARTITION=y
# CONFIG_EFI_PARTITION is not set
# CONFIG_USB_STORAGE is not set
CONFIG_DISPLAY_BOARDINFO=y
#CONFIG_DISPLAY_BOARDINFO_LATE=y (set upstream)
CONFIG_OF_LIBFDT_OVERLAY=y
# CONFIG_BOOTDELAY=2

CONFIG_CMD_BDI=y
CONFIG_LOG=y
CONFIG_LOGLEVEL=4
CONFIG_LOG_MAX_LEVEL=4
CONFIG_SPL_LOG_MAX_LEVEL=4
CONFIG_RAM_ROCKCHIP_DEBUG=y